#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

/*header preferences*/
h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  color: #ff30a8;
}

/*llama image */
img {
  border: 3px solid #ff30a8;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

